/* div.lst-all-bnt{
  
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}



button.lst1{
    width: 150px;
    height: 50px;
    
    border-radius: 10px;
    background-color: #98b6ec;
    color: white;
    border: none;
}

button.lst1:hover{
    background-color: #a7c2f4;
}

button.lst2{
    width: 150px;
    height: 50px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #98b6ec;
    color: white;
    border: none;
}

button.lst2:hover{
    background-color: #a7c2f4;
}

button.lst3{
    width: 250px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #98b6ec;
    color: white;
    border: none;
}

button.lst3:hover{
    background-color: #a7c2f4;
}

button.lst4{
    width: 250px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #98b6ec;
    color: white;
    border: none;
}

button.lst4:hover{
    background-color: #a7c2f4;
}

button.lst5{
    width: 250px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #98b6ec;
    color: white;
    border: none;
}

button.lst5:hover{
    background-color: #a7c2f4;
    
} */