div.grid-container{
    display: grid; 
    grid-template-columns: 1fr 1fr  ;
}

.pichid{
    width: 700px;
    height: 90px;
    top:0;
    left: 0;
}


div.first-logo{
    width: 500px;
    margin: auto;
    margin-left: 25px;
    margin-top: 100px;
 
    
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #FF9016;
    text-align: center;
}



input.name{
    width: 500px;
    margin: auto;
 
    margin-left: 30px;
    
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 30px;
    font-size: 16px ;
    font-family: 'Mulish', sans-serif;

    background-color: #F8F8F8;
    background-image: url('https://sv1.picz.in.th/images/2021/12/08/6oRSKP.png');
    background-size: 26px;
    background-position: 12.8px 9px; 
    background-repeat: no-repeat;
    padding:11px 20px 10px 44px;
}

input.em{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 30px;

    font-size: 16px ;
    font-family: 'Mulish', sans-serif;

    background-color: #F8F8F8;
    background-image: url('https://sv1.picz.in.th/images/2021/12/08/6oRMlW.png');
    background-size: 25px;
    background-position: 15px 11.5px;  
    background-repeat: no-repeat;
    padding:11px 20px 10px 44px;
}


input.pass{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;

    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 30px;

    font-size: 16px ;
    font-family: 'Mulish', sans-serif;
    

    background-color: #F8F8F8;
    background-image: url('https://sv1.picz.in.th/images/2021/12/08/6oxz79.png');
    background-size: 20px;
    background-position: 17px 10px; 
    background-repeat: no-repeat;
    padding:11px 20px 10px 44px;
}

input.tel{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
 
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 30px;

    font-size: 16px ;
    font-family: 'Mulish', sans-serif;
    

    background-color: #F8F8F8;
    background-image: url('https://sv1.picz.in.th/images/2021/12/08/6ox4cJ.png');
    background-size: 27px;
    background-position: 12.8px 9px; 
    background-repeat: no-repeat;
    padding:11px 20px 10px 44px;
}

input.ad{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 30px;

    font-size: 16px ;
    font-family: 'Mulish', sans-serif ,'Prompt', sans-serif;
    

    background-color: #F8F8F8;
    background-image: url('https://sv1.picz.in.th/images/2021/12/08/6oEsUl.png');
    background-size: 26px;
    background-position: 14px 9px; 
    background-repeat: no-repeat;
    padding:11px 20px 10px 44px;
}


p.show{
    
    font-size: 12px ;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: rgba(122, 122, 122, 0.747);
 
     
}

input.show-p{
    width: 10px;
    height: 10px;
    margin-left: 53.5px;
    cursor: pointer;
     
    
}


div.btn-sign-all{
    margin-top: 0px;
    left: 30px;
    
}


input.btn-sgup{
    margin-left: 210px;
    margin-top: 5px;
    width: 120px; 
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    background-color: #a3e9b1; 
    border: none;
    border-radius: 30px;
    color: rgb(31, 31, 31);
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
 
 
   
}
input.btn-sgup:hover{
    background-color: #9ADDA7; 
    color: white; 
}


input.btn-sgin{
  
    margin-left: 210px;
    margin-top: 5px;
    width: 120px; 
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    background-color: #e9e9e9; 
    color: rgb(0, 0, 0); 
    border: none;
    border-radius: 30px;
  
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
 
    
    
   
}
input.btn-sgin:hover{
    background-color: #e2e2e2; 
    color: white; 
}


.picfirst{
    width: 50%;
    position: fixed ;
    top:0;
    left: 0%;
    bottom: 0;
}



