* {
    background-color: #F6F5F5;
 
    

}


body{
    margin:0;
    background-color: #F6F5F5;
}

.navbar-top {
    position: fixed;
    top: 0;
    width: 1400px;
    height: 100px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr ; /*from 250px*/
 
  
  }


div.logo {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Pacifico', cursive;   
    font-size: 45px ;
    font-weight:900;
    display: block;
    color: #FF9016;
}
 
/* 
input.bx-sch{
    width: 800px;
    margin-top: 30px;
   
    box-sizing: border-box;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 50px;
    font-size: 16px;
    background-color: #EDEDED;
    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62Oipu.png') ;
    font-family: 'Mitr', sans-serif;
    background-size: 18px;
    background-position: 760px 12px;
    background-repeat: no-repeat;
    padding: 10px 10px 9px 27px;
    align-items: center;
}

input.bx-sch:hover{
    border: 2px solid #c7c7c7;
} */


form.sch-f{
    width: 820px;
}

input.bx-sch{
    width: 720px;
    margin-top: 30px;
   
    box-sizing: border-box;
    border: 2px solid rgb(247, 247, 247);
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 16px;
    background-color: #EDEDED;
    font-family: 'Mitr', sans-serif;
    padding: 10px 10px 9px 27px;
/* 
    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62Oipu.png') ;
    
    background-size: 18px;
    background-position: 760px 12px;
    background-repeat: no-repeat;
    align-items: center;
     */

    float: left;

    
    
}

input.bx-sch:hover{
    border: 2px solid #c7c7c7;
}


button.bnt-sch {
    width: 100px;
    height: 46px;
    margin-top: 30px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FF9016;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: white;
    cursor: pointer;
    font-size: 16px;
   
}

button.bnt-sch:hover {
    background-color:#ff9f38;;

}

.cate-dd {
    width: 138px;
    height: 42px;
    margin-top: 33px;
    margin-left: 20px;
    background-color: #A3E0D9;
    color: #2C2C2C;
    border-radius: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    border: none;
    cursor: pointer;
    text-align: left;
    
    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62nNCy.png');
    background-size: 18px;
    
    background-position: 100px 12px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 19px;
  }

.category-dropdown {
    position: relative;
    display: inline-block;
}
  
.dd-content {
    margin-left: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}
  
.dd-content a {
    color: black;
    padding: 12px 16px;
    
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
}
  
.dd-content a:hover {
    background-color: #D7F8F4
}
  
.category-dropdown:hover .dd-content {
    display: block;
}
  
.category-dropdown:hover .cate-dd {
    background-color: #A3E0D9;
}


.cart{

}


button.btn-deli{
    width: 120px;
    height: 45px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    background-color: #58c4d0;
    border: none;
    color: white;
}

button.btn-deli:hover{
    background-color: #6ec1ca;

}



.add-cart{
    width: 50px;
    height: 42px;
    margin-top: 33px;
    margin-left: 20px;
    background-color: #FFCB4C; 
    border: none;
    border-radius: 20px;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    

    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62bVIe.png');
    background-size: 22px;
    
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    
    
}
.add-cart:hover{
    background-color: #fcc02a; 
    
}

.sidenav {
    height: auto;
    width: 300px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    overflow-x: hidden;
    padding-top:0;
    
  }

  div.profile{
    width: 160px;
    height: 240px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 20px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    background-color: white;;
}

.pic-pro{
    width: 100px;
    height: 100px;
    border-radius: 50px; 
 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     
    background-color: white;
     
}

.name-pro{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    background-color: white;
   
}

button.btn-pro{
    width: 100px;
    height: 25px;
    background-color: #FBD8DA;
    margin-top: 5PX;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    border: none;
    padding: 4px ;
    border-radius: 30px;
    color: black;
    text-align: center;
    cursor: pointer;
    
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
button.btn-pro:hover{
    background-color:#eebec1 ;
}


button.shop{
    width: 160px;
    height: 38px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    background-color: #e5e1ff;
    border: none;
    border-left: 5px solid #e5e1ff; ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62ujae.png');
    background-size: 18px;
    
    background-position: 15px 10px;
    background-repeat: no-repeat;
     
    
}

button.shop:hover{
    background-color: #dfdbf5;
    border-left: 5px solid #dfdbf5;
   
}

button.Shop-set-ing{
    
    width: 160px;
    height: 38px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    background-color: #e5e1ff;
    border: none;
    border-left: 5px solid #e5e1ff; ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    background-image: url('https://sv1.picz.in.th/images/2022/01/23/ns5iJt.png');
    background-size: 18px;
    
    background-position: 15px 10px;
    background-repeat: no-repeat;
     
    
}

button.Shop-set-ing:hover{
    background-color: #dfdbf5;
    border-left: 5px solid #dfdbf5;
}


button.recipes{
    width: 160px;
    height: 38px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    background-color: #e5e1ff;
    border: none;
    border-left: 5px solid #e5e1ff; ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    
    background-image: url('https://sv1.picz.in.th/images/2021/12/12/62uJs9.png');
    background-size: 18px;
    
    background-position: 15px 10px;
    background-repeat: no-repeat;
     
    
}

button.recipes:hover{
    background-color: #dfdbf5;
    border-left: 5px solid #dfdbf5;
}









button.sgout{
    width: 130px;
    height: 40px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
   
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    
}

button.sgout:hover{
    background-color: #e65b5b;
    color: white;
}








.allpage { /* ต้ต้องใส่ทุกหน้าปรับใช้ทุกหน้า *****************************************************************************************/
     /* Used in this example to enable scrolling ***********************************************************/
    margin: 0 auto;
    margin-top: 100px; /* แกงกันชัดๆ เดิมจัดที่ 90*/
    margin-left: 300px; /* Same as the width of the sidenav ***************************************************************/
    margin-bottom: 200px;
    background-size: 30px;
    padding: 0 auto;
    background-color: #F6F5F5;
    
}

div.head-cart h1{
    font-family: 'Mulish', sans-serif;
    margin: auto;
   
    margin-left: 280px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 30px;
    color:#687DF0;
     float: left;
    
}

div.head-cart img{
    float: left;
    cursor: pointer;
}
 
form.form-cart{
   
    margin: auto;
    margin-top: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: 800;
    font-size: 18px;
    
    
 
}


table.tb-cart{
    margin: 0  ;
    padding: 0;
    width: 800px;
    height:20px;
    border: 0px;
    
    
   
}

tr.ord-tr{
    margin: 0;
    padding: 0;
    
}


td.hidden-xs{
    display: none;
}

.pic-td{
    width: 100px;
    height: 30px;
 
}

img.pic-m-td{
    width: 100px;
    height: 100px;
    padding-top: 10px;
     
    border-radius: 25px 1px 1px 25px;
 
 
}

td.ns-td{
    width: 400px;
    padding-left: 10px;
    background-color: white;
    border: 0   ;
    border-top: 10px solid #F6F5F5 ;
    border-bottom: 8px solid #F6F5F5;
     
    
   
}

td.prc-td{
    width: 200px;
    padding-left: 20px;
    background-color: white;
    border: 0   ;
    border-top: 10px solid #F6F5F5 ;
    border-bottom: 8px solid #F6F5F5;
    border-right: 5px solid #F6F5F5;
    border-radius:1px  25px 25px 1px ;
    color: rgb(82, 144, 238);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
     
}

td.amo-td{
   
    width: 100px;
    padding-left: 20px;
    background-color: white;
    border: 0   ;
    border-top: 10px solid #F6F5F5 ;
    border-bottom: 8px solid #F6F5F5;
    border-right: 5px solid #F6F5F5;
    border-radius: 25px;
}

input.form-control{
    padding-left: 25px;
    border: none;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    background-color: white;
    border-radius: 10px;
    
    color: #545454;
}


td.num-td{
    width: 200px;
    padding-left: 20px;
    background-color: white;
    border: 0   ;
    border-top: 10px solid #F6F5F5 ;
    border-bottom: 8px solid #F6F5F5;
    border-right: 5px solid #F6F5F5;
    border-radius: 25px;
    color: rgb(17, 196, 106);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 800;
}


td.del-td{
    width: 100px;
    padding-left: 10px;
    background-color: white;
    border: 0   ;
    border-top: 10px solid #F6F5F5 ;
    border-bottom: 8px solid #F6F5F5;
    border-right: 5px solid #F6F5F5;
    border-radius: 20px;
}

a.del-a{
    padding-left: 5px;
    text-decoration:none;
    cursor: pointer;
    color: #d10202;
    background-color: white;
}



.nav-bt{
     
}



.nav-tt{
    overflow: hidden;
    position: fixed;
  
    left: 300px;
    bottom: 80px;
    width: 1400px;
    height: 50px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 20px;

    background-color: #F6F5F5;
   
}

.tt-bar{
    padding-top: 11px;
    padding-left: 370px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #2C2C2C;
   
}

.tt-all{
    padding-top: 11px;
    padding-left: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #39ce77;
     
}

div.btn-bottom{
    overflow: hidden;
    position: fixed;
    left: 290px;
    bottom: 0px;
    width: 1400px;
    height: 80px;
    padding-left: 180px;
    background-color: #F6F5F5; 
}



input.btn-sub{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 15px;
   
    text-align: center;
    background-color: #ffd050;
    color: white;
}
input.btn-back{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 15px;
   
    text-align: center;
    background-color: #5f50ff;
    color: white;
}
input.btn-b-all{
    width: 250px;
    height: 35px;
    
 
   
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 15px;
 
    text-align: center;
    background-color: #68cc9f;
    color: white;
}
input.btn-b-all1{
    width: 250px;
    height: 35px;
    
 
   
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 15px;
 
    text-align: center;
    background-color: #7a827e;
    color: white;
}
























    
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
   
   
   
